* {
  margin: 0;
  padding: 0;
  outline: 0 !important;
}

[hidden] {
  display: none !important;
}

a {
  text-decoration: none;
}

i {
  font-style: normal;
}

body {
  font-family: 'PingFang SC', 'Helvetica Neue', Helvetica, 'microsoft yahei', arial, STHeiTi, sans-serif;
  font-size: 14px;
}

.pd6 {
  padding: 6px;
}

.pd10 {
  padding: 10px;
}

.mg10 {
  margin: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mgb6 {
  margin-bottom: 6px;
}

.mgb10 {
  margin-bottom: 10px;
}

.mgb20 {
  margin-bottom: 20px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nprogress .bar {
  background: var(--nprogress-bar-color) !important;
}

#nprogress .spinner {
  top: 10px !important;
}

#nprogress .spinner-icon {
  border-top-color: var(--nprogress-spinner-top-color) !important;
  border-left-color: var(--nprogress-spinner-left-color) !important;
}

.el-button.is-link {
  color: var(--el-color-primary) !important;
  font-size: 14px !important;
}

.el-button.is-link:hover {
  color: var(--el-color-primary-light-5) !important;
  text-decoration: underline !important;
}

.el-button + .el-tooltip {
  margin-left: 10px;
}

.el-form .el-form-item__label {
  font-weight: bold;
  color: var(--element-color);
  background-color: var(--element-bg-color);
  text-align: right;
}

.el-form .el-form-item__label::before {
  color: var(--el-color-danger) !important;
}

.el-form .el-form-item {
  border: 1px solid var(--element-bd-color);
  border-radius: 4px;
  padding: 1px;
  margin-bottom: 4px;
}

.el-form {
  display: flex;
  flex-wrap: wrap;
}

/* 表头单元格 */
.el-table th.el-table__cell {
  color: var(--element-index-color) !important;
  background-color: var(--element-index-bg-color) !important;
}

/* 表格单元格 */
.el-table td.el-table__cell {
  color: var(--element-color) !important;
  background-color: var(--element-bg-color) !important;
}

.el-table {
  background-color: var(--element-bg-color) !important;
}

/* 表头单元格边框颜色 */
.el-table th.el-table__cell {
  border-bottom: 1px solid  var(--element-bd-color) !important;
}

/* 表体单元格边框颜色 */
.el-table td.el-table__cell {
  border-bottom: 1px solid var(--element-bd-color) !important;
}

.el-table__row:hover td {
  color: var(--element-index-color) !important;
  background-color: var(--element-index-bg-color) !important;
}

/* Collapse 外层容器 */
.el-collapse {
  background-color: var(--element-bg-color) !important;
  border: 1px solid var(--element-bd-color) !important;
  color: var(--elementColor) !important;
}

/* Collapse 单个 item */
.el-collapse-item {
  border-bottom: 1px solid var(--element-bd-color) !important;
}

.el-collapse-item__header {
  background-color: var(--element-bg-color) !important;
  color: var(--element-color) !important;
  border-bottom: 1px solid var(--element-bd-color) !important;
  transition: background-color 0.3s, color 0.3s !important;
  cursor: pointer !important;
}

.el-collapse-item__header:hover {
  padding: 0px 0px 0px 0px !important;
  background-color: var(--element-index-bg-color) !important;
  color: var(--element-index-color) !important;
}

.el-collapse-item__wrap {
  background-color: var(--element-bg-color) !important;
  border-top: 1px solid var(--element-bd-color) !important;
  color: var(--element-color) !important;
}

.el-collapse-item__content {
  padding: 0px 0px 15px 10px !important;
  color: var(--element-color) !important;
}

.el-card__header {
  font-size: 14px;
  font-weight: bold;
  height: 28px !important;
  padding: 2px 30px !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--cardbody-color);
  background: var(--cardbody-bg-color);
  border-bottom: 1px solid var(--cardbody-bd-color) !important;
}

.el-card__body {
  color: var(--cardbody-color);
  background: var(--cardbody-bg-color);
}

.el-card__body:hover {
  color: var(--cardbody-color);
  background: var(--cardbody-bg-color);
}

.el-card__header > :first-child {
  margin-left: 0px;
}

.el-card {
  border: 1px solid var(--cardbody-bd-color) !important;
}

.el-card__header {
  background-image: url(@/assets/img/card-point.svg);
  background-size: 26px;
  background-position: left;
  background-repeat: no-repeat;
}

/**
.el-card:hover .el-card__header {
  animation: moveleftact 0.3s linear;
  animation-iteration-count: 1;
}
*/

.el-tabs--border-card .el-tabs__item.is-active {
  color: var(--element-index-color) !important;
  background-color: var(--element-index-bg-color) !important;
  border-bottom-color: var(--element-index-bg-color) !important;
  font-weight: bold;
}

.el-tabs--border-card .el-tabs__item {
  color: var(--element-color) !important;
  background-color: var(--element-bg-color) !important;
  border: 0px solid var(--element-bd-color) !important;
  height: 38px;
}

.el-tabs--border-card .el-tabs__header {
  background-color: var(--element-bg-color) !important;
  border-bottom-color: var(--element-index-bg-color) !important;
  height: 38px;
}

.el-tabs--border-card {
  color: var(--element-index-color) !important;
  background-color: var(--element-index-bg-color) !important;
  border: 0px solid var(--element-index-bd-color) !important;
}

.el-tabs__item {
  color: var(--element-color) !important;
  border-right: 0px solid var(--element-color) !important;
}

.el-tabs {
  color: var(--element-color) !important;
}

.el-tabs__item.is-active {
  color: var(--element-index-color) !important;
  font-weight: bold;
}

.el-tabs__item:hover {
  color: var(--element-index-color) !important;
  font-weight: bold;
}

@keyframes moveleftact {
  0% {
    background-position: -8% center;
  }
  70% {
    background-position: 1% center;
  }
  100% {
    background-position: 0% center;
  }
}

.el-popper {
  background-color: var(--element-index-bg-color) !important;
  color: var(--element-index-color) !important;
  border: 1px solid var(--element-index-bd-color) !important;
  box-shadow: 0 2px 12px var(--custom-shadow-color) !important;
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 6px;
}

.el-popper__arrow::before {
  background-color: var(--element-index-bg-color) !important;
  border: 1px solid var(--element-index-bd-color) !important;
}

.custom-shadow:hover {
  box-shadow: 0 0px 15px var(--custom-shadow-color) !important;
}

.el-step__head.is-finish {
  color: var(--el-color-primary) !important;
}
.el-step__title.is-finish {
  color: var(--el-color-primary) !important;
}
.el-step__head.is-process {
  color: var(--el-color-info) !important;
}
.el-step__title.is-process {
  color: var(--el-color-info) !important;
}
.el-step__head.is-wait {
  color: var(--el-color-info) !important;
}
.el-step__title.is-wait {
  color: var(--el-color-info) !important;
}

.content-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:root {
  --header-height: 40px;
  --sidebar-width: 220px;
  --sidebar-width-collapse: 50px;
}